.footer {
  background-color: #9ab79a;
  color: white;
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.link {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.link:hover {
  text-decoration: underline;
}
