/* HomeForm.module.css */
.homeContainer {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 20px;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adjust the gap between cards */
}

.userInfoCard,
.actionCard,
.tableCard {
  flex: 1; /* Makes each card take equal space */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #d5e6cd;
}

.userInfoCard {
  width: 100%; /* Ensures full width on small screens */
}

.actionCard {
  width: 100%; /* Ensures full width on small screens */
}

.tableCard {
  width: 100%; /* Ensures full width on small screens */
}

.bmiTable {
  width: 100%;
  border-collapse: collapse;
}

.bmiTable th,
.bmiTable td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.bmiTable th {
  background-color: #f4f4f4;
}

/* Заменяем h1, h2 и button на классы */
.homeTitle {
  font-size: 20px;
  color: #333;
}

.homeSubtitle {
  font-size: 30px;
  color: #333;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.homeButton {
  padding: 10px 20px;
  width: auto;
  background-color: #0c843e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}
.homeButton:hover {
  background-color: #0a4322;
}

.homeButton {
  display: inline-block;
}

p {
  font-weight: bold;
  margin-top: 10px;
}
