/* HomeForm.module.css */
.homeContainer {
  display: flex;
  gap: 20px;
}

.userInfoCard {
  background-color: #d5e6cd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 48%;
}

.actionCard {
  background-color: #d5e6cd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 48%;
}

.bmiTable {
  width: 100%;
  border-collapse: collapse;
}

.bmiTable th,
.bmiTable td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.bmiTable th {
  background-color: #f4f4f4;
}

/* Заменяем h1, h2 и button на классы */
.homeTitle {
  font-size: 20px;
  color: #333;
}

.homeSubtitle {
  font-size: 30px;
  color: #333;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.homeButton {
  padding: 10px 20px;
  width: auto;
  background-color: #0c843e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}
.homeButton:hover {
  background-color: #0a4322;
}
